# асинхронный веб-сервер, необходимый для запуска и работы приложения FastAPI
uvicorn
# расширение, которое позволит FastAPI принимать файлы, загружаемые пользователями или IVR-системами
python-multipart
# библиотека для работы с аудио
librosa
# библиотека, модуль scipy.signal которой нужен для вычисления SNR методом Уэлча и спектральной фильтрации
scipy
